<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Commerce365\Customer\Api\CustomerAddressRepositoryInterface" type="Commerce365\Customer\Model\CustomerAddressRepository" />
    <type name="Magento\Customer\Api\AddressRepositoryInterface">
        <plugin name="commerce365_customer_address_repository_extension" type="Commerce365\Customer\Plugin\CustomerAddressRepositoryExtension" />
    </type>
    <type name="Magento\Customer\Model\Address">
        <plugin name="commerce365_address_extension"
                type="Commerce365\Customer\Plugin\AddressExtension"/>
    </type>
</config>
