<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_address_save_after">
        <observer name="commerce365_update_customer_updated_at" instance="Commerce365\Customer\Observer\AfterAddressSaveUpdateUpdatedAt" />
    </event>
</config>
